# Python cache
__pycache__/
*.py[cod]
*.pyo

# Generated outputs (recreated on each run)
top_performer.csv

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/

# IDE / OS junk
.vscode/
.idea/
*.DS_Store
Thumbs.db
